.venv/
.DS_Store
__pycache__/
*.pkl
*.keras
*.h5
test.py
*.rar
6 ac1.0 mixed 0.3+0.7 onnx best/
info.txt
ci.py
dict.txt
8best/
*.log
*.onnx
*.utf8

# 模型产物目录（TensorFlow/Keras 与 ONNX）
models/

build/
dist/
*.dylib
*.so
*.dll
.cache/
.vscode/
*.json
*.png

models-1/


input/
output/